.parent {
    display: grid;
    grid-template-columns:70px 10fr;
    grid-template-rows: 60px 10fr 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.header { grid-area: 1 / 1 / 2 / 3; }
.sideNav { grid-area: 2 / 1 / 3 / 2; }
.footer { grid-area: 3 / 1 / 4 / 3; }
.main_panel { grid-area: 2 / 2 / 3 / 3; }

    
.header{
    background: #A7D6AA;
    border-radius: 15px 15px 15px 0px;
    &_logo{
        position: absolute;
        left: 25px;
        margin-top: 5px;
        width: 50px;
        height: 50px;
    }

    &_title{
        position:relative;
        text-align: center;
        color: rgb(0, 0, 0); 
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 40px; 
        font-weight: bold; 
        letter-spacing: -1px; 
        line-height: 1;
        margin-top: auto;
        top: 10px;
    }
}


.sideNav{
    background: rgb(167,214,170);
    background: linear-gradient(180deg, rgba(167,214,170,1) 0%, rgba(248,255,167,1) 100%);
    width: 70px;
    height: 82vh;

    &_home, &_network{
        position: relative;
        text-align: center;
        margin-top: 0px;
        height: 50px;
        text-decoration: none;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        background-size: auto 80%;
        background-repeat: no-repeat;
        background-position: center;

        &:hover{
            background-color: rgba(248,255,167,1);
            cursor:pointer;
            background-size: auto 100%;
        }
    }

    &_home {
        background-image: url("../assets/icons/800px-Globe_icon_2png.png");
    }

    &_network {
        background-image: url("../assets/icons/2461391.png");
    }

}

#forced-graph-3d{
    position: relative;
    margin-left: 13%;
    margin-top: 7%;
}


.inactive{
    display: none;
}

$footer_radius: 10;
.footer {
    background-color: rgb(71, 71, 71);
    height: 100%;
    border-radius: 0px #{$footer_radius}px #{$footer_radius}px #{$footer_radius}px;
    p{
        color: rgb(197, 197, 197);
        font-size: smaller;
        text-align: center;
        position: relative;
        top: 5px;
    }
}


table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

